@font-face {
  font-family: Blackout;
  src: url("/Blackout2AM.ttf");
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #181818;
  color: white;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navbar-link {
  display: inline-block;
}

.navbar-link a {
  color: #fff;
  text-decoration: none;
  padding: 0.625em;
  transition: background-color 0.3s;
}

footer {
  text-align: center;
  margin-top: 30px;
  color: #777;
}
