.u-section-1 .u-image-1 {
  min-height: 574px;
  background-image: url("images/ProfileBackdrop.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 113px 238px 0 202px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  line-height: 28.8px;
  font-size: 1.875rem;
  margin: 48px 238px 60px 202px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 138px;
    margin-left: 102px;
  }

  .u-section-1 .u-text-2 {
    width: 700px;
    margin-left: 102px;
    margin-right: 138px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    min-height: 493px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 385px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 264px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}