footer {
    text-align: center;
    margin-top: 30px;
    color: #777;
}

@font-face {
    font-family: Blackout;
    src: url("assets/Blackout2AM.ttf");
}

.title {
    font-family: 'Blackout', 'Open Sans';
    font-size:xx-large;
}

.navbar-title {
    font-family: 'Blackout', 'Open Sans';
    font-size: large;
}

.card {
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .card {
        max-width: 100%;
    }
}

.quote-text {
    font-size: 1.5rem;
}

.quote-author {
    font-size: 1rem;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.hero-content {
    z-index: 1;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: monospace;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #fff;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: monospace;
}

.cta-btn {
    padding: 10px 20px;
    font-size: 1.1rem;
    background: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-family: monospace;
}

.cta-btn:hover {
    background: #e04e42;
}

@media (max-width: 576px) {
    .quote-text {
        font-size: 1rem;
    }

    .quote-author {
        font-size: 0.8rem;
    }
}
@media (max-width: 767px) {
    .row-cols-3>.col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}